<%= form_tag('/search', method: 'get')  do %>
  <%= label_tag(:query, 'Search: ') %>
  <%= text_field_tag(:query) %>
  <%= submit_tag("Search") %>
<% end %>
<script>
var tags = <%==   @all_tags  %>;
  $(function(){
    $("#query").autocomplete({source: tags});
  });
</script>
<%  if(@tags.nil?) %>
  <p>There were no records found for that name</p>
<% else %>
  <% @images.each_slice(6) do |image_batch| %>
    <div class="row" %>
    <% image_batch.each do |image| %>
      <div class="item col-xs-12 col-lg-2">
        <div class="thumbnail">
          <h4><%= image.name %></h4>
          <%= image_tag("/uploads/#{image.name}", alt: image.name, class: 'img-responsive') %>
          <p>
            <%= image.tags.collect(&:name).join(', ') %>
          </p>
          <p>
            <a class="btn btn-primary" id="image-url" data-clipboard-text="<%= "#{request.protocol}#{request.host_with_port}/uploads/#{image.name}" %>">Copy Url
            </a>
          </p>
        </div>
      </div>
    <% end %>
    </div>
  <% end %>
<%end%>

<script>

$(document).ready(function(){
  var clip = new ZeroClipboard($("#image-url"));
});

</script>