<%= form_tag('/search', method: 'get')  do %>
  <%= label_tag(:query, 'Search: ') %>
  <%= text_field_tag(:query) %>
  <%= submit_tag("Search") %>
<% end %>
<script>
var tags = <%==   @all_tags  %>;
  $(function(){
    $("#query").autocomplete({source: tags});
  });
</script>
<%  if(@tags.nil?) %>
  <p>There were no records found for that name</p>
<% else %>
  <ul>
    <% @images.each do |image| %>
        <li>
          Name: <%= image.name %>
          <%= link_to '', edit_image_path(image), class: 'fa fa-pencil-square-o fa-lg no-decor' %><br />
            <%= link_to image_tag("/uploads/#{image.name}", alt: image.name, class: 'image'), "/uploads/#{image.name}", target: '_blank' %><br />
            tags:
            <ul class='tags'>
            <% image.tags.each do |tag| %>
              <li><%=tag.name %></li>
            <% end %>
            </ul>
        </li>
    <% end %>
  </ul>
<%end%>