<script type="text/javascript">
  var tags = <%== @tags  %>;
  $(function(){
    function split( val ) {
      return val.split( /,\s*/ );
    }
    function extractLast( term ) {
      return split( term ).pop();
    }
    
    $("#tags")
      // don't navigate away from the field on tab when selecting an item
      .bind( "keydown", function( event ) {
        if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).data( "ui-autocomplete" ).menu.active ) {
          event.preventDefault();
        }
      })
      .autocomplete({
        minLength: 0,
        source: function( request, response ) {
          // delegate back to autocomplete, but extract the last term
          response( $.ui.autocomplete.filter(
            tags, extractLast( request.term ) ) );
        },
        focus: function() {
          // prevent value inserted on focus
          return false;
        },
        select: function( event, ui ) {
          var terms = split( this.value );
          // remove the current input
          terms.pop();
          // add the selected item
          terms.push( ui.item.value );
          // add placeholder to get the comma-and-space at the end
          this.value = terms.join( ", " );
          return false;
        }
      });
  });
</script>

<h1><%= @image.name %></h1>
<%= image_tag "/uploads/#{@image.name}" %>
<%= form_for(@image) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= hidden_field_tag :image_file_type, @encrypted_image_file_type, you_really_shouldnt_edit_this_silly: 'noodle' %>
  <div class='field' >
    <%= label_tag :name %>
    <%= text_field_tag :name, @name %>
  </div>
  <div class='field' >
    <%= label_tag :tags %>
    <%= text_field_tag :tags, @image.tags.map{ |t| t.name }.join(', ') %>
  </div>
  <div class='field' >
    <%= label_tag :image_type, 'Animated Image?' %>
    <%= f.check_box :image_type, {}, 'animated', 'static' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
