<script type="text/javascript">
  var tags = <%==   @tags.all.map { |tag| tag.name }  %>;
  $(function(){
    function split( val ) {
      return val.split( /,\s*/ );
    }
    function extractLast( term ) {
      return split( term ).pop();
    }
    
    $("#tags")
      // don't navigate away from the field on tab when selecting an item
      .bind( "keydown", function( event ) {
        if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).data( "ui-autocomplete" ).menu.active ) {
          event.preventDefault();
        }
      })
      .autocomplete({
        minLength: 0,
        source: function( request, response ) {
          // delegate back to autocomplete, but extract the last term
          response( $.ui.autocomplete.filter(
            tags, extractLast( request.term ) ) );
        },
        focus: function() {
          // prevent value inserted on focus
          return false;
        },
        select: function( event, ui ) {
          var terms = split( this.value );
          // remove the current input
          terms.pop();
          // add the selected item
          terms.push( ui.item.value );
          // add placeholder to get the comma-and-space at the end
          terms.push( "" );
          this.value = terms.join( ", " );
          return false;
        }
      });
  });
</script>

<%= form_tag({action: :create}, multipart: true) do %>
  Name: <%= text_field_tag(:name) %><br />
  <div id="load_from_url">
  <%= check_box_tag(:from_url) %>
  <%= label_tag(:from_url, "Load image from url") %><br />
  </div>
  <%= check_box_tag(:animated) %>
  <%= label_tag(:animated, "Animated gif") %>
  <p>
    <div id='file-upload'><%= file_field_tag 'image' %></div>
    <div id='url-upload' style="display:none;"><%= text_field_tag(:url_field) %></div>
  </p>
  Tags: <%= text_field_tag(:tags) %><br />
  <%= submit_tag('save') %>
<% end %>