<h1>Welcome!</h1>
<%= form_tag('/search', method: 'get')  do %>
  <%= label_tag(:query, 'Search: ') %>
  <%= text_field_tag(:query) %>
  <%= submit_tag("Search") %>
<% end %>
<script>
var tags = <%==   @tags  %>;
  $(function(){
    $("#query").autocomplete({source: tags});
  });
</script>
<p>
  <ul>
    <% @images.each do |image| %>
      <li>
          Name: <%= image.name %><br />
          <%= link_to image_tag("/uploads/#{image.name}", alt: image.name, class: 'image'), "/uploads/#{image.name}", target: '_blank'
          %><br />
          tags:
          <ul class='tags'>
          <% image.tags.each do |tag| %>
            <li><%=tag.name %></li>
          <% end %>
          </ul>
      </li>
    <% end %>
  </ul>
</p>