<h1>Listing tags</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name:</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.name %></td>
        <td> 
          <% tag.images.each do |image| %>
            <%= link_to image_tag("/uploads/#{image.name}", alt: image.name, class: 'image'), image_path(image), target: '_blank' %>
          <% end %>
        </td>
        <td><%= link_to 'Show', tag %></td>
        <td>
          <% if admin_signed_in? %>
            <%= link_to 'Edit', edit_tag_path(tag) %>
          <% end %>
        </td>
        <td>
          <% if admin_signed_in? %>
            <%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tag', new_tag_path %>
