<p id="notice"><%= notice %></p>
  
  <p>Name: <%= @tag.name %></p>

  <ul>
    <% @tag.images.each do |image| %>
      <li><%= link_to image_tag("/uploads/#{image.name}", alt: image.name, class: 'image'), image_path(image), target: '_blank' %></li>
    <% end %>
  </ul>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
